In [4]:
# 1.Print Tup. Is that a tuple you just created?

#(i) Tup = 4,5,6,7,8,9
  
Tup=(4,5,6,7,8,9)
print(Tup)

(4, 5, 6, 7, 8, 9)

In [7]:
# (ii).Tup = (4,5,6,7),(7,6,8,9)
Tup= (4,5,6,7),(7,6,8,9)
print(Tup[0:4])

((4, 5, 6, 7), (7, 6, 8, 9))

In [8]:
#Change this above List_1 into a tuple.
# (iii) List_1 = [4,5,6,79] 
List_1 = [4,5,6,79]
A= tuple(List_1)
print(A)

(4, 5, 6, 79)

In [10]:

#Convert above string into an iterative tuple. (Use either if-else statement or split function)
#(iv) ‘String’
type("A")

str

In [1]:
#Convert above string into an iterative tuple. (Use either if-else statement or split function)
#(v) tup_1 = ('foo', [1, 2], True)

tup_1=('foo',[1,2],True)
tup_1[-2][1]=3
tup_1

('foo', [1, 3], True)

In [3]:
#2. Use the list below and make a new list B that has only odd elements of this list in it.

A = [1,4,9,16,25,36,49,64,81,100]
list=[]
for i in A[]
  if i%2 != 0
    list.append(i)
print(list)

SyntaxError: invalid syntax (<ipython-input-3-e8d1702235f9>, line 5)

In [2]:
# that returns the lesser/min of the two num if both of them are even and 
#bigger /max of the two num if one or both of them are odd

#if statement
def lesser_of_two(a,b):
    if a%2==0 and b%2==0:
        return min(a,b)
    else:
        return max(a,b)

In [3]:
lesser_of_two(10,12)

10

In [7]:
# create a function by name make_50
#use two integers,return true if sum of the integer is 50,if not then return false

def mark_50(a,d):
    c=a+b
    if c<=50
       return True
    else:
        return False

SyntaxError: invalid syntax (<ipython-input-7-da8b8e8b5936>, line 6)

In [6]:
# reverse the sentence using a func
#"THE QUICK BROWN FROG JUMP OVER THE LAZY DOG" AS
#"DOG LAZY THE OVER JUMP FROG BROWN QUICK THE"
#create a fun as reversed_order.....

In [ ]:
# fun...string....arg...reverse..
#reversed_order....
def reversed_order(text)

In [15]:
# kwargs
def myself(**kwargs):
    for key,value in kwargs.items():
         print("His {} is {}.".format(key,value))

In [16]:
myself(Firstname = "Mounika",Lastname= "Boya")

His Firstname is Mounika.
His Lastname is Boya.

In [21]:
# def args and kwargs...
def myself1(*args,**kwargs):
    if 'fruit' and 'juice' in kwargs:
        print(f"I like {' '.join(args)} and my favorite fruit is {kwargs['fruit']} and {kwargs['juice']}.")

In [22]:
myself1('eggs','banana',fruit = 'pineapple',juice='apple')

I like eggs banana and my favorite fruit is pineapple and apple.

In [25]:
celcius = [0,11,21,23.2,45,4]
# convert this celsius list into fahrenheit
list=[(9/5)*i + 32 for i in celcius]
print(list)

[32.0, 51.8, 69.80000000000001, 73.75999999999999, 113.0, 39.2]

In [29]:
# by using list comprehension find square of numbers from 1 to 9
# and again use the nested list comprehesive for the
# double square....

B=[i*i for i in range(1,10)]
print(B)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
# dictionary comprehension...(key:value)

list1 = [23,45,3,45,7]
list2 = ['Akash','Ramesh','Ravi','Akbar','Sukhbir']

desc = {list2:list1 for i }

In [30]:
# map and filter.....Lambda expression.....
# map mapping ...one to one mapping ,,, one to many,,many to many....
def cube(num):
    return num**3

In [ ]:
#if Len is even then print even and if length is odd then print.. first letter of the string 
def splicer(mystring):
    if len(mystring)%2==0:
        return 'even'
    else:
        return mystring[0:6]

In [31]:
# lambda expression...

def square(num):
    return num**2

In [32]:
square = lambda num:num**3

In [33]:
square(234)

12812904

In [6]:
# dog
class Dog:
# attributes...
     species = 'mammal'
     def _init_(self,breed,name):
            self.breed = breed
            self.name = name

In [8]:
sam = Dog('Lab','Sam')

TypeError: Dog() takes no arguments

In [ ]:
rectangle...object...